// style.scss
@charset "utf-8";
@import './common/base';
@import './common/layout';
@import './components/header';
@import './components/footer';

$red: #f00;


.p-document{
  &_heading{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }
}
img{
  max-width: 100%;
}
#js-alert-button{
  border: solid 2px #000;
  padding: 10px;
}
//--参考用記述-----------
//各コンパイル後のcss参照のこと-----

// アルファベット順に並ぶ
.alphabetical {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

// ベンダープレフィックスが付く
.prefix {
 transform: translateY(-50%);
}

// gridがIE対応される
.grid {
 display: grid;
 grid-template-rows: 100px 50px;
 grid-template-columns: 150px 1fr;
}
//-----------------------------