// style.scss
@charset "utf-8";
@import './common/base';
@import './common/layout';
@import './components/header';

$red: #f00;

// 変数が使える
.hoge {
 color: $red;
}
img{
  max-width: 100%;
}
// アルファベット順に並ぶ
.alphabetical {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

// ベンダープレフィックスが付く
.prefix {
 transform: translateY(-50%);
}

// gridがIE対応される
.grid {
 display: grid;
 grid-template-rows: 100px 50px;
 grid-template-columns: 150px 1fr;
}

.media-query-sample01 {
    font-size: 14px;
    @media only screen and (min-width: 768px) {
      font-size: 18px;
    }
   }
   
   .media-query-sample02 {
    color: blue;
    @media only screen and (min-width: 768px) {
      color: green;
    }
   }


.media-query-sample03 {
    font-size: 14px;
    @media only screen and (min-width: 1068px) {
      font-size: 18px;
    }
   }
   
   .media-query-sample04 {
    color: blue;
    @media only screen and (min-width: 1068px) {
      color: green;
    }
   }