
<div class="p-follow">
    <a href="#top" class="p-follow-btn js-scroll" id="pagetop">
        <span class="p-follow-icon"></span>
    </a>
</div>
<footer class="l-footer">
    <div class="l-footer-inner">
        <ul class="l-footer-menu">
            <li><a href="/">トップページ</a></li>
            <li><a href="/test/">テストページ</a></li>
            <li><a href="/sample/">サンプルページ</a></li>
        </ul>
        <small class="l-footer-copyright">Copyright &copy; Test CO, INC. All Rights Reserved</small>
    </div>
</footer>