<header class="l-header">
    <h1 class="l-header-logo">SamplePage</h1>
	<nav class="l-header-nav l-header-nav--pc">
		<ul class="l-header-navLsit">
			<li><a href="/" class="l-header-navLink">トップ</a></li>
			<li><a href="/test/" class="l-header-navLink">テストページ</a></li>
			<li><a href="/sample/" class="l-header-navLink">サンプルページ</a></li>
		</ul>
	</nav>
	<nav class="l-header-nav l-header-nav--sp">
		<p class="l-header-nav_heading">MENU</p>
		<ul class="l-header-navLsit">
			<li><a href="/" class="l-header-navLink">トップ</a></li>
			<li><a href="/test/" class="l-header-navLink">テストページ</a></li>
			<li><a href="/sample/" class="l-header-navLink">サンプルページ</a></li>
		</ul>
	</nav>
	<button class="l-header-spBtn"><span></span><span></span><span></span></button>
</header>