<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= data.title %>
    </title>

    <link rel="stylesheet" href="/assets/css/utility.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<% const path='./' %>

    <body>
        <!--テスト用-->
        <%- include( path + 'components/_header.ejs' ) -%>
            <a id="top"></a>
            <main class="l-main">
                <div class="l-sec p-document">
                    <div class="l-inner pt70 pb120">
                        <h1 class="p-document_heading">参考用のサンプルページです</h1>
                        <p class="mt40">制作の際は不要なページやパーツは削除してください。<br>
                        またはmasterブランチの方がシンプルな構成となっていますのでそちらを使用してください。</p>
                        <p class="mt100">このサンプルページは工事中です。<br>今後cssコンポーネントやjsのサンプルなどを増やしていく予定です。</p>
                        <button id="js-alert-button" class="mt100">jsテストボタン</button>
                        <p class="mt120"><img src="/assets/images/test.png" width="400"></p>
                    </div>
                </div>
            </main>
            <%- include( path + 'components/_footer.ejs' ) -%>
            <script src="/assets/js/main.js"></script>
    </body>

</html>